.header-layout {
  width: 100%
}

.login-layout {
  text-align: center;
  float: right;
}

.logo-container {
  text-align: center;
  position: fixed;
  padding-top: 2em;
  z-index: -1;
}

.logo-style {
  width: 40%;
}

.no-background {
  background-color: transparent !important;
}