@import './../../../colors.scss';

.header-layout {
  width: 100%
}

.login-layout {
  padding-top: 0.1em;
  text-align: center;
  right: 0;
  position: absolute;
  z-index: 1;
}

.logo-container {
  height: 0.5em;
  background-color: $card-color;
  text-align: center;
  position: fixed;
  padding-top: 2em;
  z-index: 0;
  width: 100%;
}

.logo-style {
  margin-top: -0.5em;
  height: 100vh;
}

.no-background {
  background-color: transparent !important;
}