@import './../../../../colors.scss';

.nav-container {
    display: flex;
    flex-direction: column;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
  
.nav-button {
    position: fixed;
    z-index: 2;
}
  
.sidenav-container {
    flex: 1;
}
  
.mat-sidenav-container {
    margin-top: 2.5em;
}

.mat-sidenav {
    background-color: $card-color;
}

.mat-list-item {
    color: $font-color;
}

.mat-drawer-container {
    background-color: transparent;
}

fa-icon {
    width: 1em;
    text-align: center;
}

.logo-nav {
    cursor: pointer;
    position: absolute;
    width: 100%;
    text-align: -webkit-center;
    font-size: x-large;
    top: 0.2em;
    font-variant: petite-caps;
    color: $header-font-color;
    border: none;
}