@import './../../../../../colors.scss';

.mat-card-style {
  &:hover {
    background: $highlight-color;
  }
  border-radius: 1em;
  cursor: pointer;
}

.selected-style {
  background: $highlight-color;
}

.today-style {
  border-radius: 4px;
}