$primary-color: azure;
$font-color: #6B8562;
$accent-color: #5EB57B;
$highlight-color: #A9C25D;
$shadow-color: #C29E9E;
$card-color: #89D36D;
$button-color: #F6904F;
$footer-color: #F6904F;
$header-font-color: #0a9c35;