/* You can add global styles to this file, and also import other style files */
@import "./colors.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $primary-color;
  color: $font-color;
}

h1 {
  color: $shadow-color;
}

.mat-dialog-container {
  background-color: $primary-color;
}
