<div class="search-container" fxLayout="row wrap" fxLayoutAlign="center center" fxFlexFill>
    <h1 fxFlex fxLayoutAlign="center center">
        Hungry?
    </h1>
    <form fxFlex="100" fxLayout="row" fxLayoutAlign="center center">
        <mat-form-field class="searchbox" fxFlex>
            <input fxFlex matInput>
            <fa-icon [icon]="['fas', 'search']"></fa-icon>
        </mat-form-field>
    </form>
    <h2 fxFlex="100" fxLayoutAlign="center center">
        Find your desired dish!
    </h2>
    <app-date-card-wrapper fxFlex="100"></app-date-card-wrapper>
</div>