<div fxLayout="row wrap" fxLayoutAlign="center center" fxFlexFill>
    <h1 class="h1-style" fxFlex="100">Register</h1>
    <form [formGroup]="registerForm" fxFlex="100" fxLayout="row wrap" (submit)="onSubmit($event)">
        <mat-form-field fxFlex="100">
            <input formControlName="username" matInput placeholder="Username">
        </mat-form-field>
        <mat-form-field fxFlex="100">
            <input formControlName="email" matInput placeholder="E-Mail">
        </mat-form-field>
        <mat-form-field fxFlex="100">
            <input formControlName="password" type="password" matInput placeholder="Password">
        </mat-form-field>
        <mat-form-field fxFlex="100">
            <input formControlName="rePassword" type="password" matInput placeholder="Confirm Password">
        </mat-form-field>
        <div>
            <mat-checkbox color="primary" formControlName="checkbox"></mat-checkbox>
            <span style="font-size: small;">
                &nbsp;&nbsp;&nbsp;I have read and accept the <a (click)="dialogClose.emit(true)" routerLink="/about">terms and conditions</a>
            </span>
        </div>
        <div fxFlex="100">
            <div fxFlex fxLayoutAlign="left end">
                <a class="change-ref" (click)="changeType.emit('login')">Already have an account?</a>
            </div>
            <button [disabled]="this.registerForm.invalid" class="register-btn" mat-raised-button>Register</button>
        </div>
    </form>
</div>