@import "../../../../../colors.scss";

.h1-style {
    font-size: 1.4em;
}

.register-btn {
    float: right;
    background-color: $button-color;
}

.change-ref {
    cursor: pointer;
    font-size: 0.9em;
}